.type-869 {
    @color_register = #3931af;
    @color_register2= #00c6ff; 
    @color_active=#0062cc;
    @color_register_background = #f8f9fa;
    @color_register_left = #383d41;
    @color_register_heading = #495057;
    @color_hover_btn_login = #d8d8d8;
    @color_hover_btn_register = #6a99e6;
    @font_size_button = 80%;
    .register{
        background: -webkit-linear-gradient(left, @color_register, @color_register2);
        margin-top: 3%;
        padding: 3%;

        .register-form{
            padding: 10%;
            margin-top: 10%;
        }

        .nav-tabs{
            margin-top: 3%;
            border: none;
            background: #0062cc;
            border-radius: 1.5rem;
            width: 30%;
            font-size: @font_size_button;
            float: right;
            .nav-link{
                padding: 2%;
                height: 34px;
                font-weight: 600;
                color: #fff;
                border-top-right-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
                &:hover{
                    border: none;
                    background-color: @color_hover_btn_register ;
                    transition: all 0.5s ease;
                    text-decoration: none;
                }
                &.active{
                    width: 110px;
                    color: @color_active;
                    border: 2px solid @color_active;
                    border-top-left-radius: 1.5rem;
                    border-bottom-left-radius: 1.5rem;
                }
            }
        }
    }
    .register-left{
        text-align: center;
        margin-top: 4%;

        h3 {
            color: #fff;
            margin-top: 10%;
        }

        p{
            font-weight: lighter;
            padding: 12%;
            margin-top: 10%;
            color: #fff;
        }

        .btn-login {
            display: inline-block;
            background-color: #fff;
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            font-weight: 600;
            font-size: @font_size_button;
            width: 60%;
            cursor: pointer;
            margin-top: 10%;
            margin-bottom: 3%;
            &:hover {
                background-color: @color_hover_btn_login  ;
                transition: all 0.5s ease;
                text-decoration: none;
            }
        }
    }

    .register-right{
        background: @color_register_background;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;

        .btn-register-employee{
            height: 34px;
            float: right;
            margin-top: 10%;
            margin-right: -26%;
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            background: @color_active;
            color: #fff;
            font-weight: 600;
            font-size: @font_size_button;
            width: 50%;
            cursor: pointer;
            &:hover {
                background-color: @color_hover_btn_register ;
                transition: all 0.5s ease;
                text-decoration: none;
            }
        }

        .btn-register-hirer{
            height: 34px;
            float: right;
            margin-top: 10%;
            margin-right: -26%;
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            background: @color_active;
            color: #fff;
            font-weight: 600;
            font-size: @font_size_button;
            width: 50%;
            cursor: pointer;
            &:hover {
                background-color: @color_hover_btn_register ;
                transition: all 0.5s ease;
                text-decoration: none;
            }
        }
    }

    .register-heading{
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: @color_register_heading;
    }

    @media (min-width:2560px) 
    {
        .register-right {
            .btn-register-employee{
                margin-right: -25%;
                width: 50%;
            }

            .btn-register-hirer{
                margin-right: -25%;
                width: 50%;
            }
        }
        .input-question-1 {
            .form-control {
                width: 100%;
            }
        }
        .input-question-2 {
            .form-control {
                width: 100%;
                margin-left: 15%;
            }
        }
    }

    /* Màng hình máy tính bảng lớn hoặc máy tính màng hình trung bình */
    @media (min-width: 992px) and (max-width: 1199px) {
        .input-question-1 {
            .form-control {
                width: 105%;
            }
        }
        .input-question-2 {
            .form-control {
                width: 105%;
            }
        }
    }

    /* Màng hình máy tính bảng nhỏ hoặc máy tính màng hình nhỏ */
    @media (min-width: 768px) and (max-width: 991px) {
        .input-question-1 {
            .form-control {
                width: 80%;
            }
        }
        .input-question-2 {
            .form-control {
                width: 80%;
                margin-left: 10%;
            }
        }
        .register-right {
            .btn-register-employee{
                margin-right: -25%;
                width: 90%;
            }

            .btn-register-hirer{
                margin-right: -25%;
                width: 90%;
            }
        } 

        .register {
            .nav-tabs{
                width: 40%;
            }
        }
        .register-heading{
            margin-top: 16%;
            margin-bottom: -16%;
        }
    }

    /* Màng hình máy tính bảng rất nhỏ hoặc điện thoại di động */
    @media (max-width: 767px) {
        .register-left{
            text-align: center;
            margin-top: 4%;
            p{
                margin-top: -10%;
                margin-bottom: -5%;
            }
            .btn-login {
                margin-top: auto;
            }
        }

        .input-question-1 {
            .form-control {
                width: 85%;
            }
        }
        .input-question-2 {
            .form-control {
                width: 85%;
            }
        }

        .register-right {
            .btn-register-employee{
                margin-right: 10%;
                width: 90%;
            }

            .btn-register-hirer{
                margin-right: 10%;
                width: 90%;
            }
        }

        .register {
            .nav-tabs{
                width: 40%;
                .nav-link{
                    height: 34px;
                }
            }
        }
        .register-heading{
            margin-top: 16%;
            margin-bottom: -16%;
        } 
    }

    /* Điện thoại di động hoặc màng hình cực nhỏ */
    @media (max-width: 480px) {

        .input-question-1 {
            .form-control {
                width: 80%;
            }
        }
        .input-question-2 {
            .form-control {
                width: 80%;
            }
        }
        .register-right {
            .btn-register-employee{
                margin-right: 10%;
                width: 90%;
            }

            .btn-register-hirer{
                margin-right: 10%;
                width: 90%;
            }
        } 
        .register {
            .nav-tabs{
                width: 60%;
                .nav-link{
                    height: 34px;
                }
            }
        }
        .register-heading{
            margin-top: 16%;
            margin-bottom: -16%;
        }
    }
}
