.type-869 .register {
  background: -webkit-linear-gradient(left,#3931af,#00c6ff);
  margin-top: 3%;
  padding: 3%;
}
.type-869 .register .register-form {
  padding: 10%;
  margin-top: 10%;
}
.type-869 .register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 25%;
  font-size: 80%;
  float: right;
}
.type-869 .register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.type-869 .register .nav-tabs .nav-link:hover {
  border: none;
  background-color: #6a99e6;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-869 .register .nav-tabs .nav-link.active {
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.type-869 .register-left {
  text-align: center;
  margin-top: 4%;
}
.type-869 .register-left h3 {
  color: #fff;
}
.type-869 .register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
  color: #fff;
}
.type-869 .register-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.type-869 .register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}
.type-869 .register-left .btn-login {
  display: inline-block;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  font-weight: 600;
  font-size: 80%;
  width: 60%;
  cursor: pointer;
  margin-top: 10%;
  margin-bottom: 3%;
}
.type-869 .register-left .btn-login:hover {
  background-color: #d8d8d8;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-869 .register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.type-869 .register-right .btn-register-employee {
  float: right;
  margin-top: 10%;
  margin-right: -26%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  font-size: 80%;
  width: 50%;
  cursor: pointer;
}
.type-869 .register-right .btn-register-employee:hover {
  background-color: #6a99e6;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-869 .register-right .btn-register-hirer {
  float: right;
  margin-top: 10%;
  margin-right: -26%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  font-size: 80%;
  cursor: pointer;
}
.type-869 .register-right .btn-register-hirer:hover {
  background-color: #6a99e6;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-869 .register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
@-webkit-keyframes mover {
  .type-869 0% {
    transform: translateY(0);
  }
  .type-869 100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  .type-869 0% {
    transform: translateY(0);
  }
  .type-869 100% {
    transform: translateY(-20px);
  }
}
@media (max-width: 2560px) and (min-width: 1024px) {
  .type-869 .btn-register-employee {
    margin-top: 10%;
    margin-right: auto;
  }
  .type-869 .btn-register-hirer {
    margin-top: 10%;
    margin-right: auto;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .type-869 .btn-register-employee {
    margin-top: 10%;
    margin-right: auto;
  }
  .type-869 .btn-register-hirer {
    margin-top: 10%;
    margin-right: auto;
  }
}
@media (max-width: 827px) and (min-width: 242px) {
  .type-869 .btn-register-employee {
    margin-top: 10%;
    margin-right: auto;
  }
  .type-869 .btn-register-hirer {
    margin-top: 10%;
    margin-right: auto;
  }
}
@media (max-width: 720px) and (min-width: 242px) {
  .type-869 .btn-register-employee {
    margin-top: 10%;
    margin-right: auto;
  }
  .type-869 .btn-register-hirer {
    margin-top: 10%;
    margin-right: auto;
  }
}
@media (max-width: 595px) and (min-width: 242px) {
  .type-869 .btn-register-employee {
    margin-top: 10%;
    margin-right: auto;
  }
  .type-869 .btn-register-hirer {
    margin-top: 10%;
    margin-right: auto;
  }
}
@media (max-width: 446px) and (min-width: 242px) {
  .type-869 .btn-register-employee {
    margin-top: 10%;
    margin-right: auto;
  }
  .type-869 .btn-register-hirer {
    margin-top: 10%;
    margin-right: auto;
  }
}
@media (max-width: 387px) and (min-width: 150px) {
  .type-869 .btn-register-employee {
    margin-top: 10%;
    margin-right: auto;
  }
  .type-869 .btn-register-hirer {
    margin-top: 10%;
    margin-right: auto;
  }
}
