.type-869 .register {
  background: -webkit-linear-gradient(left,#3931af,#00c6ff);
  margin-top: 3%;
  padding: 3%;
}
.type-869 .register .register-form {
  padding: 10%;
  margin-top: 10%;
}
.type-869 .register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 30%;
  font-size: 80%;
  float: right;
}
.type-869 .register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.type-869 .register .nav-tabs .nav-link:hover {
  border: none;
  background-color: #6a99e6;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-869 .register .nav-tabs .nav-link.active {
  width: 110px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.type-869 .register-left {
  text-align: center;
  margin-top: 4%;
}
.type-869 .register-left h3 {
  color: #fff;
  margin-top: 10%;
}
.type-869 .register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: 10%;
  color: #fff;
}
.type-869 .register-left .btn-login {
  display: inline-block;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  font-weight: 600;
  font-size: 80%;
  width: 60%;
  cursor: pointer;
  margin-top: 10%;
  margin-bottom: 3%;
}
.type-869 .register-left .btn-login:hover {
  background-color: #d8d8d8;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-869 .register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.type-869 .register-right .btn-register-employee {
  height: 34px;
  float: right;
  margin-top: 10%;
  margin-right: -26%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  font-size: 80%;
  width: 50%;
  cursor: pointer;
}
.type-869 .register-right .btn-register-employee:hover {
  background-color: #6a99e6;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-869 .register-right .btn-register-hirer {
  height: 34px;
  float: right;
  margin-top: 10%;
  margin-right: -26%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  font-size: 80%;
  width: 50%;
  cursor: pointer;
}
.type-869 .register-right .btn-register-hirer:hover {
  background-color: #6a99e6;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-869 .register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
@media (min-width: 2560px) {
  .type-869 .register-right .btn-register-employee {
    margin-right: -25%;
    width: 50%;
  }
  .type-869 .register-right .btn-register-hirer {
    margin-right: -25%;
    width: 50%;
  }
  .type-869 .input-question-1 .form-control {
    width: 100%;
  }
  .type-869 .input-question-2 .form-control {
    width: 100%;
    margin-left: 15%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .type-869 .input-question-1 .form-control {
    width: 105%;
  }
  .type-869 .input-question-2 .form-control {
    width: 105%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .type-869 .input-question-1 .form-control {
    width: 80%;
  }
  .type-869 .input-question-2 .form-control {
    width: 80%;
    margin-left: 10%;
  }
  .type-869 .register-right .btn-register-employee {
    margin-right: -25%;
    width: 90%;
  }
  .type-869 .register-right .btn-register-hirer {
    margin-right: -25%;
    width: 90%;
  }
  .type-869 .register .nav-tabs {
    width: 40%;
  }
  .type-869 .register-heading {
    margin-top: 16%;
    margin-bottom: -16%;
  }
}
@media (max-width: 767px) {
  .type-869 .register-left {
    text-align: center;
    margin-top: 4%;
  }
  .type-869 .register-left p {
    margin-top: -10%;
    margin-bottom: -5%;
  }
  .type-869 .register-left .btn-login {
    margin-top: auto;
  }
  .type-869 .input-question-1 .form-control {
    width: 85%;
  }
  .type-869 .input-question-2 .form-control {
    width: 85%;
  }
  .type-869 .register-right .btn-register-employee {
    margin-right: 10%;
    width: 90%;
  }
  .type-869 .register-right .btn-register-hirer {
    margin-right: 10%;
    width: 90%;
  }
  .type-869 .register .nav-tabs {
    width: 40%;
  }
  .type-869 .register .nav-tabs .nav-link {
    height: 34px;
  }
  .type-869 .register-heading {
    margin-top: 16%;
    margin-bottom: -16%;
  }
}
@media (max-width: 480px) {
  .type-869 .input-question-1 .form-control {
    width: 80%;
  }
  .type-869 .input-question-2 .form-control {
    width: 80%;
  }
  .type-869 .register-right .btn-register-employee {
    margin-right: 10%;
    width: 90%;
  }
  .type-869 .register-right .btn-register-hirer {
    margin-right: 10%;
    width: 90%;
  }
  .type-869 .register .nav-tabs {
    width: 60%;
  }
  .type-869 .register .nav-tabs .nav-link {
    height: 34px;
  }
  .type-869 .register-heading {
    margin-top: 16%;
    margin-bottom: -16%;
  }
}
