.wpb-row {
  margin-bottom: 60px;
  background-color: #212121 !important;
}
.wpb-row h2 {
  margin-top: 70px;
  font-weight: 400;
  color: #ffffff;
}
.wpb-row hr {
  display: inline-block;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid;
  width: 60px;
  border-bottom-width: 4px;
  border-bottom-color: #db4436;
  margin: 0 0;
}
.wpb-row h4 {
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}
.wpb-row .pic-wpbrow {
  padding: 30px 0 30px 0;
  margin-top: 48px;
  margin-bottom: 48px;
}
.wpb-row .pic-wpbrow .pic-wpbrowmin {
  padding: 2 2px;
  height: auto;
}
.wpb-row .pic-wpbrow .pic-wpbrowmin img {
  width: 100%;
  max-height: 100px;
  padding: 2px 0px;
}
.wpb-row #myModal {
  box-sizing: border-box;
}
.wpb-row .row > .column {
  padding: 0;
}
.wpb-row .row:after {
  content: "";
  display: table;
  clear: both;
}
.wpb-row .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.wpb-row .modal .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.wpb-row .modal .close:hover,
.wpb-row .modal .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.wpb-row .modal .cursor {
  cursor: pointer;
}
.wpb-row .modal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
}
.wpb-row .modal .modal-content .mySlides {
  border: 10px solid white;
  border-radius: 10px;
  display: none;
}
.wpb-row .modal .modal-content .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.wpb-row .modal .modal-content .mySlides .numbertext img {
  margin-bottom: -4px;
}
.wpb-row .modal .modal-content .prev,
.wpb-row .modal .modal-content .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.wpb-row .modal .modal-content .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.wpb-row .modal .modal-content .prev:hover,
.wpb-row .modal .modal-content .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.wpb-row .modal .column {
  float: left;
  width: 11.1%;
  cursor: pointer;
}
.wpb-row .modal .column .demo {
  opacity: 0.6;
}
.wpb-row .modal .column .demo:hover {
  opacity: 1;
}
